<?xml version="1.0"?>
<model>
    <name>blue_wheel_bot</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>
    
    <description>
        İki tekerlekli mavi araç
    </description>

    <author>
        <name>serkan</name>
        <email></email>
    </author>

    <license></license>
</model>