<?xml version="1.0"?>
<model>
  <name>wall_7_2</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author> <!-- Genel bilgi vermek için kullanılır. -->
    <name>Serkan</name>
    <email></email>
  </author>

  <description>
    The wall in this model measures 7x2m
  </description>

</model>
